/*
font-family: 'Cantarell', sans-serif;
font-family: 'Nunito', sans-serif;*/

/*purple button color is #68578E*/

/*light font color is #cacaca*/

/*header(dark) background is #110F0B*/

/*light background is #E9EEEF*/

/*purple background is #303046*/
body {
    background-color: #110f0b;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#header {
    height: 100px;
    width: 100%;
    background-color: #110F0B;
    position: fixed;
    z-index: 100;
    top: 0;
}

#navLogo {
    display: inline;
    align-content: left;
    height: 40px;
    margin-top:25px;
    margin-left: 20px;
    
}

#login {
    display: inline;
    align-content: right;
    margin-top: 38px;
    margin-right: 20px;
    
}
h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #cacaca;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #edf1f7;
}

.darkFont {
    color: #000000;
}

.purpleFont {
    color: #68578e;
}

.orangeFont {
    color: #d46520;
}

.centered {
    position: absolute;
    margin: auto;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
}

.hidden {
    visibility: hidden;
}

.line {
    width: 100%;
    border-bottom: 1px solid #68578E;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.5;
}

button {
    transition: 150ms;
    opacity: 0.9;
    width: 95%;
    max-width: 500px;
    border-radius: 3px;
    margin-top: 40px;
    background-color: #68578E;
    border: none;
}

button p {
    margin-top: 15px;
    font-size: 17px;
}

button:hover {
    transition: 250ms;
    opacity: 0.8;
    width: 98%;
    max-width: 550px;
    background-color: #d46520;
}

.light {
    background-color: #E9EEEF; 
}

.spacer {
    height: 60px;
}

.spacerSmall {
    height: 30px;
}
#arrowUp {
    z-index: 100;
    transition: 300ms;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    background-color: #68578E;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#arrowUp:hover {
    background-color: #d46520;
    transition: 200ms;
}

#arrowUp img {
    margin-top:4px;
    margin-left:3px;
    opacity: 0.7;
    
}

.smallPic {
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    margin-top: 20px;
}

#footer {
    height: 150px;
}