/*
font-family: 'Cantarell', sans-serif;
font-family: 'Nunito', sans-serif;*/

/*purple button color is #68578E*/

/*light font color is #cacaca*/

/*header(dark) background is #110F0B*/

/*light background is #E9EEEF*/

/*purple background is #303046*/
body {
    background-color: #110f0b;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#header {
    height: 100px;
   background-color: #110F0B;
}

#navLogo {
    display: inline;
    align-content: left;
    height: 50px;
    margin-top:25px;
    margin-left: 20px;
    
}

#login {
    display: inline;
    align-content: right;
    margin-top: 38px;
    margin-right: 20px;
    
}
h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #cacaca;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #edf1f7;
}

.darkFont {
    color: #000000;
}

.purpleFont {
    color: #68578e;
}

.centered {
    position: absolute;
    margin: auto;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
}

.hidden {
    visibility: hidden;
}