button {
    transition: 150ms;
    opacity: 0.9;
    width: 90%;
    max-width: 500px;
    border-radius: 3px;
    margin-top: 40px;
    background-color: #68578E;
    border: none;
}

button p {
    margin-top: 15px;
    font-size: 17px;
}

button:hover {
    transition: 250ms;
    opacity: 0.8;
    width: 100%;
    max-width: 550px;
    background-color: #d46520;
}