.centered {
    position: absolute;
    margin: auto;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
}

#indexSpacer {
    height: 1010px;
}

@media only screen and (max-width: 800px) {
     .centered {
        top: 20%;
    }
    
    #indexSpacer {
        height: 0px;
    }
    
}

